@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}
@layer components {
  .x-pad {
    @apply py-32  px-32 mx-32;
  }
  .cubeMPos {
    @apply -top-48 -right-14;
  }
  .cubeLPos {
    @apply top-0;
  }
  .half {
    @apply col-start-1 col-span-10 row-span-full group-even:col-start-3  group-even:col-span-12;
  }
  .full {
    @apply col-start-1 col-span-12 row-span-full;
  }
  .headlink {
    @apply text-[#CCD6F1]  after:text-lightOrange  before:text-lightOrange hover:text-lightOrange;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #18181b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #68686a;
    border-radius: 100vh;
    border: 3px solid #68686a;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #18181b;
  }
}
